body{
    background-color: antiquewhite;
}
.maincontainer{
    background-color: #ffffff;
    margin-left: 150px;
    width: 350px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 2px 2px 15px 2px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.t-shirt img{
        height: 300px;   
        border: 1px solid red; 
}

.t-shirt-info{
    height: 300px;
    width: 200px;
    border: 1px solid red; 
}
.size{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
span{
    border-bottom: 2px solid gray;
}