body{
    background-color: antiquewhite;
}
.maincontainer{
    background-color: #ffffff;
    margin-left: 150px;
    width: 350px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 2px 2px 15px 2px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.t-shirt img{
        height: 300px;   
}
.t-shirt-info{
    height: 300px;
    width: 200px;
}
.size{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.size-word{
    font-size: 20px;
    border-bottom: 2px solid gray;
    border-radius: 4px;
    background-color: #ffffb3;
}
.onclickevent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
}
.buttons{
    color: black;
    margin-top: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: lightgray;
}
.btn{
    background-color: #ff9900;
    color: black;
    margin-left: 10px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0px 0px 3px 1px ;
    font-size: 14px;
}