body{

}
.maincontainer{
    margin-left: 150px;
    width: 350px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 3px 2px 15px 3px black;
    position: fixed;
}
.product{
    margin-top: 25px;
    margin-left: 10px;
    padding: auto;
    width: 200px;
    height: 250px;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 3px 2px 15px 3px gray;
}